@font-face {
    font-family: 'helvetica';
    src: url('/fonts/eot/iransansdnweb.eot'); /* IE9 Compat Modes */
    src: url('/fonts/woff2/iransansdnweb.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/woff/iransansdnweb.woff') format('woff'), /* Pretty Modern Browsers */
    url('/asset/fonts/normal.ttf') format('truetype'); /* Safari, Android, iOS */
}

@import url(//db.onlinewebfonts.com/c/0a6ee448d1bd65c56f6cf256a7c6f20a?family=Bahnschrift);
/* 
@font-face {
  font-family: "Bahnschrift"; 
  src: url("//db.onlinewebfonts.com/t/0a6ee448d1bd65c56f6cf256a7c6f20a.eot"); 
  src: url("//db.onlinewebfonts.com/t/0a6ee448d1bd65c56f6cf256a7c6f20a.eot?#iefix") 
  format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0a6ee448d1bd65c56f6cf256a7c6f20a.woff2") 
  format("woff2"), url("//db.onlinewebfonts.com/t/0a6ee448d1bd65c56f6cf256a7c6f20a.woff") 
  format("woff"), url("//db.onlinewebfonts.com/t/0a6ee448d1bd65c56f6cf256a7c6f20a.ttf") 
  format("truetype"), url("//db.onlinewebfonts.com/t/0a6ee448d1bd65c56f6cf256a7c6f20a.svg#Bahnschrift") 
  format("svg"); }

* {
    font-family: "Bahnschrift";
} */

body
{
    background-color: black;
}

.the-color{
  color: #25ffff;
}
.title-color{
  color: #bbffff;
}
.text-color{
  color: #00d7a1;
}
.nav-item
{
  color: #25ffff;
}

.main-color
{
    color: #323233;
}
.secondary
{
    color: black;
}
.bg-black-color
{
    background-color: black;
}
.bg-main-color
{
    background-color: black;
}
.white-text-color
{
    color: #ffffff;
}
.badgeSize {
    width: 40px;
    height: 40px;
  }
  .iconSize {
    width: 20px;
    height: 20px;
  }

  
.pictureSize
{
  width: 159px;
  height: 159px;
}
  a:hover, a:focus, a:active {
    color: #696665;
  }
  
  
  .transparent
  {
      opacity: 90%;
  }

  .zoom {
    transition: transform .2s; /* Animation */
    width: 230px;
    height: 120px;
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  
  .google:hover{
    color:#4286f4;
  }
  .linkedin:hover{
    color:#0073b0;
  }
  .github:hover{
    color:black;
  }
  .twitter:hover{
    color:#1da1f2;
  }
  .instagram:hover{
    color:red;
  }
  .facebook:hover{
    color:rgb(49, 81, 146);
  }
  .goodreads:hover{
    color:black;
  }
  .iconColor
  {
    color: #999999;
  }
  .graduation{
    background: url("../img/icons/graduation-hat.png") no-repeat;
  }
  .graduation:hover{
    background: url("../img/icons/graduation-hat-hover.png") no-repeat;
  }
  .reader{
    background: url("../img/icons/reader1.png") no-repeat;
  }
  .reader:hover{
    background: url("../img/icons/reader2.png") no-repeat;
  }
  
.float-twitter{
	position:fixed;
	width:35px;
	height:35px;
	top:60px;
	right:60px;
	background-color:#999;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  box-shadow: rgb(88, 88, 88);
  z-index: 10;
}

.float-scholar{
	position:fixed;
	width:35px;
	height:35px;
	top:60px;
	right:60px;
	background-color:#999;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  box-shadow: rgb(88, 88, 88);
  z-index: 10;
}

.float-email{
	position:fixed;
	width:35px;
	height:35px;
	top:60px;
	right:110px;
	background-color:#999;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  box-shadow: rgb(88, 88, 88);
  z-index: 10;
}

.my-float{
	margin-top:9px;
}
.float-img
{
  margin-right: 10px;
}
.orangeColor
{
  color:orange;
}
.project-img
{
  width: 500px;
  height: 300px;
  display: block;
}

.news-logo-margin
{
  position: absolute;
  margin-top:23px;
}

.hr-thick
{
  height: 2px;
}

.title-color
{
  color: #2cc4c9;
}
.award-icon
{
  width: 50px;
  height: 50px;
}

.border-cyan
{
  border-style: solid;
  border-width: 1px;
border-color: #00d7a1;
}

.nav-item:hover
{
  background-color: #00404d;
  color: #00d7a1;
}

a:hover
{
  color: #00d7a1;
}

.footer-icon-size
{
  height: 36px;
  width: 36px;
}

.award-size
{
  height: 150px;
  width: 150px;
}